
<% include ../partials/header %>

<div class="container">

<h1 style="text-align: center"> Add Comment to <%= campground.name %></h1>
<form action="./" method="POST">
     <div style="width: 50vh;  margin: 25px auto; ">   
      <div class="form-group">
          <label for="name">text</label>
          <input type="name" name="commentText" class="form-control"  placeholder="Enter comment">
        </div>
        <button type="submit" class="btn btn-block">Submit</button>
      </form>
      <a href="./../">GO BACK</a>
    </div>
     

    </div>
<% include ../partials/footer %>