<% include partials/header %>
<h1>welcome to show page</h1>
<!-- <%= campground %> -->
<h1><%= campground["name"] %>
</h1>
<img src="<%= campground.image %>" >

<%= campground.info %>

<% include partials/footer %>