#navbarSupportedContent{
    background:rgba(23,162,184,0.8);
}

.img-thumbnail{
    height: 30vh;
}

#showPageImage{
    height: 70vh;
}

.campgroundCardHolder{
    padding: 1%;
}
 .editButton{
     margin: 10px;
 }

 .deleteButton{
     display: inline;
     margin: 10px;
 }

 .container {
     margin-top:  10px; 
 }

 .mapHolder{
     font-size: 20px;
     font-weight: 600;
     margin: 15px 0;
 }

.signupSigninForms h1{
     text-align: center;
 }

 .signupSigninForms {
     width: 45%;
     margin: 30px auto;
 }

 .signupSigninForms div input[type= checkbox]{
     width: 10%;
     display: inline;
 }


 #username{
     color: #ffffff;
     font-weight: 500;
 }

 .activePage{
        background: rgba(38, 183, 231,0.75);   
        color: #ffffff ;
 }

 nav.navbar{
     padding-top: 0;
     padding-bottom: 0;
     height: 55px;
     font-size: 25px;
 }

 .navbar-brand{
     font-size: 25px;
     padding: 7.5px; 
 }

 .comments{
     margin: 5px;
     border-radius: 20px;
 }

 .commentPhoto{
    height: 50px;
    width: 50px;
    margin-top: 5px;
 } 

 .commentPhoto img{
     height: 100%;
     width: 100%;
     border-radius: 50px; 
 }

 hr.hrstyle {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.commentHeader div:nth-of-type(2){
    border: 2px groove #cfcfb8;
    border-left: 6px solid rgb(49, 235, 49); 
    padding: 20px;  
}

.coverPhoto{
    height: 40vh;
    /* width: 70vw; */
}

.coverPhoto img{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/No_Cover.jpg");
}

.profilePhoto{
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 15px;
    left: 30px;
    border: 5px solid #ffffff;
    border-radius: 5px;
}

.profilePhoto img{
    height: 100%;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmtAD4XW7ZlAu9QYqomAGm_r8XrAcz-oOBNF3u4lH-F7CAdsib")
}

.profilePosts{
    border: 1px solid lightgrey;
    margin-top: 10px; 
    /* min-width: 60vw; */
} 


.individualPost{
    height: 20vh;
}

.individualPost img{
    height: 18vh;
    width: 15vw;
    margin: 10px auto;
}

.aboutMeCard{
    border-left: 1px solid lightgrey;
    margin-top: 10px;
    /* display: inline-block; */
    height: auto; 
    min-height: 10px; 
    overflow: hidden; 
}

.changeCoverPhotoButton{
    position: absolute;
    right: 15px;
    bottom: 0;
}

.profilePageUpload{
    height: 40vh;
    width: 50vw;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5vh;
    transform: translate(-50%, -50%);
    padding: 12vh;
}

.profilePageUpload form{
    background:rgba(0,0,0,0.1);
    border: none;
}

.fas,.fa{
  position: absolute;
  right: 0;  
  top:0;
  font-size: 60px;
  color: rgb(100,250,300);
}

.changeProfilePhotoButton{
    position: absolute;
    right: 0;
    width: 140px;
    bottom: 0;
}