<% include ../partials/header %>

<h1>Signin page</h1>

<form action="/signin" method="POST">
    <input type="text" name="username" placeholder="username" value="manu">
    <input type="password" name="password" placeholder="password" value="123456">
    <input type="submit" >
</form>

<% include ../partials/footer %>
